
<div class="container">
    <button name="agile" (click)="btnclick()" ><img src="/assets/Images/KORE.png" width="100px"></button>
    <img class="circle" src="/assets/Images/forkliftfinal.webp">
    <div class="otext">{{title}}
        
    </div>
    <div class="gtext">
        ...................................................<br>
        Combining the capacity of large<br>
        global providers with the velocity<br>
        of a tight team, we get more of the <br>
        right things done,faster.
    </div>
    
</div>
