
<div class="container">
    <button name="agile"  (click)="btnclick()" ><img src="/assets/Images/KORE.png" width="100px"></button>
    <img class="circle" src="/assets/Images/drgrandma.jpg">
    <div class="otext">
        Simplify <br>
        IoT
    </div>
    <div class="gtext">
        ...................................................<br>
        KORE simplifies completely across<br>
        the Iot ecosystem, enabling our<br>
        customers IoT vision and delivering <br>
        measurable value.
    </div>
</div>
