
<div class="container">
    <button name="agile"  (click)="btnclick()" ><img src="/assets/Images/KORE.png" width="100px"></button>
    <img class="circle" src="/assets/Images/factory.jpg">
    <div class="otext">
        Innovative
    </div>
    <div class="gtext">
        ...................................................<br>
        We explore and consider ideas from<br>
        every source enabling us to deliver<br>
        insights leading to new , better <br>
        outcomes in IoT.
    </div>
</div>
